### **Exercise 1:**
The Recamán sequence is a famous sequence invented by the Colombian mathematician, Bernardo Recamán Santos. It is defined by the following algorithm, starting at $a_0=0$:

$ a_n=a_{n-1}−n$ if $a_{n-1}-n > 0  $ and has not already appeared in the sequence; 

$ a_n=a_{n−1}+n$ otherwise

Write a function that returns the first N elements of this sequence.

In [2]:
def recaman(N):
    a=[]
    a.append(0)
    for n in range(1,N):
        an = a[n-1] - n
        if (an> 0) and (an not in a):
            a.append(an)
        else:
            a.append(a[n-1]+n)
    return a

In [3]:
%%timeit
recaman(30000)

2.63 s ± 11.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### **Exercise 2:**
Write a function to solve a quadratic equation.

In [34]:
%matplotlib inline
import numpy as np

In [52]:
def solve_quad_eq(a,b,c):
    if a == 0:
        print("a can not be zero")
    delta = b**2 - 4*a*c
    inv2a = 1/(2*a)

    if delta<0:
        return (complex(-b*inv2a, np.sqrt(-delta)*inv2a), complex(-b*inv2a , -np.sqrt(-delta)*inv2a))
    else:  
        return (-b*inv2a + np.sqrt(delta)*inv2a,-b*inv2a - np.sqrt(delta)*inv2a)

In [56]:
x1,x2 = solve_quad_eq(1,2,3)
x2

(-1-1.4142135623730951j)

### **Exercise 3**
Print the list `mylist` sorted in descending order. The original list should not be modified

In [69]:
mylist=[1,-99,89,0,234,77,-748,11]

In [76]:
_=[print(sorted(mylist,reverse= True )[i]) for i in range(len(mylist))]
mylist

234
89
77
11
1
0
-99
-748

[1, -99, 89, 0, 234, 77, -748, 11]

In [77]:
print(sorted(mylist,reverse=True))
mylist

[234, 89, 77, 11, 1, 0, -99, -748]

[1, -99, 89, 0, 234, 77, -748, 11]

### **Exercise 4:**
Given 2 lists, produce a list containing common items between the two.

In [84]:
def intersect_lists(a,b):
    sb = set(a)
    sa = set(b)
    sc = sa & sb
    c = list(sc)

    return c

In [86]:
a = [1,2,3,4,5,11,7]
b = [3,5,7,9,11,13]

intersect_lists(a,b)

[11, 3, 5, 7]

### **Exercise 5:**
Create a function that returns a list of all pairs of factors (as tuples) of a given number using list comprehension.

In [100]:
def factors(n):
    return [(k,int(n/k)) for k in range(1,int(np.ceil(np.sqrt(n))+1))  if n%k==0]

In [101]:
factors(25)

[(1, 25), (5, 5)]

### **Exercise 6:**
Create a list of all numbers divisible by 3 and smaller than 1000 in 4 different ways:
 
 - naive way where you just create a list and append data in a loop
 - using list comprehension
 - slicing an existing list
 - directly with `range()`

Time all of them.

In [113]:
l1=[]
for i in range(1000):
    if i%3==0:
        l1.append(i)

In [114]:
l2 = [n for n in range(1000) if n%3==0]

In [115]:
l3 = list(range(1000))
l3 = l3[::3]

In [116]:
l4 = list(range(0,1000,3))

In [117]:
l1==l2==l3==l4

True

### **Exercise 7:**
Write a function to check if a string (containing spaces and capital letters, but no punctuation marks) is a palindrome (use help to see which functions are available for a string).

In [140]:
def is_palindrome(s):
    if  
    s=s.lower()
    s=s.replace(" ","")
    for i in range(0,len(s)//2):
        if s[i] == s[-i-1]:
            continue
        else:
            return False
    return True

In [139]:
s= "aN na"
s.lower()
s

'aN na'

In [141]:
is_palindrome("i topi non avevano nipoti")

True

### **Exercise 8:**
Write a function to find a character with a maximum number of occurences in a string. Return a tuple with that character and the number. You can ignore ties. Only use string's inbuilt functions and the function `max` (use help to see how to use it).

In [214]:
def find_most_freq_char(s):
    s=s.lower()
    s=s.replace(" ","")
    freqs={}
    for letter in s:
        if letter in freqs.keys():
            freqs[letter]+=1
        else:
            freqs[letter]=1
    item = max(freqs,key=freqs.get)
    return (item,freqs[item])

In [215]:
find_most_freq_char("Aefs eE Sefaoe FKc")

('e', 5)

### **Exercise 9:**
Write a function that return the first N prime numbers using the Sieve of Eratosphenes algorithm

https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

In [283]:
def find_prime_erat(N):
    l = list(range(2,N+1))
    primes = []
    marked = []
    p = 2
    primes.append(p)
    keep_going = True

    while keep_going==True:
        marked.extend(tuple(range(2*p,N+1,p)))
        avail_num = set(l)-set(marked)-set(primes)

        if avail_num == set():
            break
        else:
            p_new = min(sorted(list(avail_num)))
            if p_new==p:
                keep_going = False
            else:
                p = p_new
                primes.append(p)

    
    return primes

In [293]:
def find_n_primes(N):
    n=2
    primes=[]
    while len(primes)<N:
        primes = find_prime_erat(n)
        n += 1
    return primes

In [294]:
find_n_primes(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]